@import "tailwindcss";
@plugin "daisyui";

@keyframes fadeInUp {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 0.5s fadeInUp;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce-text {
  animation: bounce 1s infinite;
}

.bounce-img {
  animation: bounce 5s infinite;
  animation-name: 3s;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal:last-child {
  position: relative;
  transform: translateY(0px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
